ClientConsoleTest/Connected Services/ServiceReference/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Requests.Messaging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Requests.Messaging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Requests" />
  <xs:complexType name="SendMessageRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Requests" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="FileId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendMessageRequest" nillable="true" type="tns:SendMessageRequest" />
</xs:schema>