ClientConsoleTest/Connected Services/ServiceReference/item8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Responses.FileTransfer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Responses.FileTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Server.Data.Dto" />
  <xs:complexType name="UploadFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="tns:FileTransferResponseId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileResponse" nillable="true" type="tns:UploadFileResponse" />
  <xs:simpleType name="FileTransferResponseId">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Successfully">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FileNotExist">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ServerException">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileTransferResponseId" nillable="true" type="tns:FileTransferResponseId" />
  <xs:complexType name="DownloadFileResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Data.Dto" minOccurs="0" name="File" nillable="true" type="q1:FileDto" />
      <xs:element minOccurs="0" name="Result" type="tns:FileTransferResponseId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadFileResponse" nillable="true" type="tns:DownloadFileResponse" />
</xs:schema>