ClientConsoleTest/Connected Services/ServiceReference/item81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Requests.FileTransfer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Requests.FileTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Requests" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UploadFileRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Requests" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UploadFileRequest" nillable="true" type="tns:UploadFileRequest" />
  <xs:complexType name="DownloadFileRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Requests" base="q2:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="FileId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DownloadFileRequest" nillable="true" type="tns:DownloadFileRequest" />
</xs:schema>