Client/Connected Services/ServiceReference/GlobalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GlobalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGlobalService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Requests.Authorization" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Requests" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server.Responses.Authorization" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Server.Events.Authorization" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Server.Events" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Server.Requests.Messaging" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Server.Responses.Messaging" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Server.Data.Dto" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Server.Events.Messaging" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Server.Requests.FileTransfer" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Server.Responses.FileTransfer" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Server.Requests.Dialogs" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd15" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Server.Responses.Dialogs" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Server.Events.Dialogs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGlobalService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_OnUserRegistered_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserRegistered" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_OnUserLogined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserLogined" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_OnSendedMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSendedMessage" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_UploadPartFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPartFile" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_UploadPartFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPartFileResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_DownloadPartFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadPartFile" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_DownloadPartFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadPartFileResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_CreateDialog_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDialog" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_CreateDialog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDialogResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_EditDialog_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDialog" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_EditDialog_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDialogResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_DeleteDialog_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDialog" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_DeleteDialog_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDialogResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_AddUserToDialog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToDialog" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_AddUserToDialog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToDialogResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_JoinToDialog_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinToDialog" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_JoinToDialog_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinToDialogResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_LeaveFromDialog_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveFromDialog" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_LeaveFromDialog_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveFromDialogResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_OnCreatedDialog_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCreatedDialog" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_OnDeletedDialog_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDeletedDialog" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_OnEditedDialog_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnEditedDialog" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_OnUserAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserAdded" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_OnUserJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserJoined" />
  </wsdl:message>
  <wsdl:message name="IGlobalService_OnUserLeaves_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserLeaves" />
  </wsdl:message>
  <wsdl:portType name="IGlobalService">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationService/Registration" message="tns:IGlobalService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/RegistrationResponse" message="tns:IGlobalService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationService/Authorization" message="tns:IGlobalService_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/AuthorizationResponse" message="tns:IGlobalService_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationService/Connect" message="tns:IGlobalService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/ConnectResponse" message="tns:IGlobalService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnUserRegistered">
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/OnUserRegistered" message="tns:IGlobalService_OnUserRegistered_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnUserLogined">
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/OnUserLogined" message="tns:IGlobalService_OnUserLogined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/SendMessage" message="tns:IGlobalService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/SendMessageResponse" message="tns:IGlobalService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSendedMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/OnSendedMessage" message="tns:IGlobalService_OnSendedMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/UploadFile" message="tns:IGlobalService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/UploadFileResponse" message="tns:IGlobalService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPartFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/UploadPartFile" message="tns:IGlobalService_UploadPartFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/UploadPartFileResponse" message="tns:IGlobalService_UploadPartFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPartFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/DownloadPartFile" message="tns:IGlobalService_DownloadPartFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/DownloadPartFileResponse" message="tns:IGlobalService_DownloadPartFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDialog">
      <wsdl:input wsaw:Action="http://tempuri.org/IDialogService/CreateDialog" message="tns:IGlobalService_CreateDialog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/CreateDialogResponse" message="tns:IGlobalService_CreateDialog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDialog">
      <wsdl:input wsaw:Action="http://tempuri.org/IDialogService/EditDialog" message="tns:IGlobalService_EditDialog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/EditDialogResponse" message="tns:IGlobalService_EditDialog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDialog">
      <wsdl:input wsaw:Action="http://tempuri.org/IDialogService/DeleteDialog" message="tns:IGlobalService_DeleteDialog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/DeleteDialogResponse" message="tns:IGlobalService_DeleteDialog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToDialog">
      <wsdl:input wsaw:Action="http://tempuri.org/IDialogService/AddUserToDialog" message="tns:IGlobalService_AddUserToDialog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/AddUserToDialogResponse" message="tns:IGlobalService_AddUserToDialog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinToDialog">
      <wsdl:input wsaw:Action="http://tempuri.org/IDialogService/JoinToDialog" message="tns:IGlobalService_JoinToDialog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/JoinToDialogResponse" message="tns:IGlobalService_JoinToDialog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveFromDialog">
      <wsdl:input wsaw:Action="http://tempuri.org/IDialogService/LeaveFromDialog" message="tns:IGlobalService_LeaveFromDialog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/LeaveFromDialogResponse" message="tns:IGlobalService_LeaveFromDialog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCreatedDialog">
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/OnCreatedDialog" message="tns:IGlobalService_OnCreatedDialog_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnDeletedDialog">
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/OnDeletedDialog" message="tns:IGlobalService_OnDeletedDialog_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnEditedDialog">
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/OnEditedDialog" message="tns:IGlobalService_OnEditedDialog_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnUserAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/OnUserAdded" message="tns:IGlobalService_OnUserAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnUserJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/OnUserJoined" message="tns:IGlobalService_OnUserJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnUserLeaves">
      <wsdl:output wsaw:Action="http://tempuri.org/IDialogService/OnUserLeaves" message="tns:IGlobalService_OnUserLeaves_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGlobalService" type="tns:IGlobalService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGlobalService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Registration">
      <soap12:operation soapAction="http://tempuri.org/IAuthorizationService/Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <soap12:operation soapAction="http://tempuri.org/IAuthorizationService/Authorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IAuthorizationService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserRegistered">
      <soap12:operation soapAction="http://tempuri.org/IAuthorizationService/OnUserRegistered" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserLogined">
      <soap12:operation soapAction="http://tempuri.org/IAuthorizationService/OnUserLogined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSendedMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/OnSendedMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPartFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/UploadPartFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPartFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/DownloadPartFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDialog">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/CreateDialog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDialog">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/EditDialog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDialog">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/DeleteDialog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToDialog">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/AddUserToDialog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinToDialog">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/JoinToDialog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveFromDialog">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/LeaveFromDialog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCreatedDialog">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/OnCreatedDialog" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDeletedDialog">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/OnDeletedDialog" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnEditedDialog">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/OnEditedDialog" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserAdded">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/OnUserAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserJoined">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/OnUserJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserLeaves">
      <soap12:operation soapAction="http://tempuri.org/IDialogService/OnUserLeaves" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GlobalService">
    <wsdl:port name="NetTcpBinding_IGlobalService" binding="tns:NetTcpBinding_IGlobalService">
      <soap12:address location="net.tcp://localhost:8302/global" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/global</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-RKSE7CA\VIctor</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>