Client/Connected Services/ServiceReference/item9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Responses.Messaging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Responses.Messaging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Server.Data.Dto" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SendMessageResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Data.Dto" minOccurs="0" name="Message" nillable="true" type="q1:MessageDto" />
      <xs:element minOccurs="0" name="Result" type="tns:MessagingResponseId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMessageResponse" nillable="true" type="tns:SendMessageResponse" />
  <xs:simpleType name="MessagingResponseId">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Successfully">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ServerException">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessagingResponseId" nillable="true" type="tns:MessagingResponseId" />
</xs:schema>