Client/Connected Services/ServiceReference/item112.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Requests.Dialogs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Requests.Dialogs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd15" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Requests" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CreateDialogRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Requests" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Users" nillable="true" type="q2:ArrayOfguid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateDialogRequest" nillable="true" type="tns:CreateDialogRequest" />
  <xs:complexType name="EditDialogRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Requests" base="q3:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DialogId" type="xs:int" />
          <xs:element minOccurs="0" name="EditedName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditDialogRequest" nillable="true" type="tns:EditDialogRequest" />
  <xs:complexType name="DeleteDialogRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Requests" base="q4:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DialogId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteDialogRequest" nillable="true" type="tns:DeleteDialogRequest" />
  <xs:complexType name="AddUserToDialogRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Requests" base="q5:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DialogId" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddUserToDialogRequest" nillable="true" type="tns:AddUserToDialogRequest" />
  <xs:complexType name="JoinToDialogRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Requests" base="q6:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DialogId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JoinToDialogRequest" nillable="true" type="tns:JoinToDialogRequest" />
  <xs:complexType name="UserLeavesFromDialogRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Requests" base="q7:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DialogId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserLeavesFromDialogRequest" nillable="true" type="tns:UserLeavesFromDialogRequest" />
</xs:schema>