Client/Connected Services/ServiceReference/item114.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Events.Messaging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Events.Messaging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Server.Data.Dto" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Server.Events" />
  <xs:complexType name="SendedMessageEventArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Events" base="q1:ServerEventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="DialogId" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Data.Dto" minOccurs="0" name="Message" nillable="true" type="q2:MessageDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendedMessageEventArgs" nillable="true" type="tns:SendedMessageEventArgs" />
</xs:schema>